<header><h1>このサイトについて</h1></header>
<p>初めまして。Minecraftトラップライブラリーに訪問していただき、
ありがとうございます。</p>

<p>このサイトはマイクラのトラップをまとめて、豊富なタグで分類することで
目的のトラップを探しやすくするためのポータルサイトです。</p>

<p>マイクラのトラップは非常に複雑です。あるトラップはjava版限定だったり、
またあるトラップは統合版限定だったり、バージョンによって使えたり使えなかったり、
作り方によって効率が違ったり、トラップ名から何のアイテムが取れるのか一見すると
分からなかったり...トラップを探すところの時点でつまづく人が多いです。</p>

<p>そんなトラップを探すことに苦労している人たちのためにこのサイトはつくられました。
もうトラップ選びで迷うことはありません！</p>

<p>このサイトは基本的にはトラップは外部の方が作ったトラップをリンクURLを貼ることで
紹介するサイトです。もしこのサイトに自分のトラップを載せてほしくないという方がおりましたら、
大変申し訳ございませんが、サイトのサイドバーの連絡先のページに書いてある
連絡先から連絡をお願い致します。</p>
