<article class="box post post-excerpt">
<header><h1>サイトを新設しました！</h1></header>

<p>このサイトはマイクラのトラップをまとめたサイトです</p>

<p>トラップをタグで分類することで探しやすくしています</p>

<p>まずは左上のメニューボタンから出るサイドバーから詳細検索のボタンをクリックしてみてください</p>

<p>現在トラップをまとめ中です</p>

</article>

<h2>記事一覧</h2>
<%= render 'layouts/contents' %>
