<article class="box post post-excerpt">
<header><h1>サイトを新設しました！</h1></header>

<p>このサイトはマイクラのトラップをまとめて、豊富なタグで分類して
目的のトラップを探しやすくするためのポータルサイトです。</p>

</article>

<h2>記事一覧</h2>
<%= render 'layouts/contents' %>
