<article class="box post post-excerpt">
<header><h1>サイトを新設しました！</h1></header>

<p>このサイトはマイクラのトラップをまとめたサイトです。豊富なタグで分類して
いるので、あなたにあったトラップを探せます！</p>

</article>

<h2>記事一覧</h2>
<%= render 'layouts/contents' %>
