<article class="box post post-excerpt">
<header><h1>サイトを新設しました！</h1></header>

<p>このサイトはマイクラのトラップをまとめたサイトです</p>

<p>・トラップのややこしい要素であるJava版と統合版の違い、使えるバージョンの違いをしっかりと明記</p>

<p>・管理人がトラップを厳選することで高い品質の確保</p>

<p>・トラップごとに取れるアイテムのタグを分類</p>

<p>をすることでトラップの知識がない方でも作りたい最適なトラップを最速で見つけることができます！</p>

<p>まずは左上のメニューボタンから出るサイドバーから詳細検索のボタンをクリックしてみてください！</p>

</article>

<h2>記事一覧</h2>
<%= render 'layouts/contents' %>
