<!-- Sidebar -->
<div id="sidebar">

    <!-- Logo -->
        <h1 id="logo"><a href="/"><%= image_tag "header.png", width: "100%", alt: "ホーム画面" %></a></h1>
        <h1 class="logo2"><%= link_to '詳細検索', search_page_path %></h1>
    
    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li><a href="#">このサイトについて</a></li>
            <li><a href="#">新着記事</a></li>
            <li><a href="#">連絡先はこちら</a></li>
        </ul>
    </nav>

    <section class="box recent-posts" id="nav">
        <header>
            <h2>タグで探す</h2>
        </header>
        <ul>
        <li><a href="#">java版</a></li>
        <li><a href="#">統合版(Win10/PE<br />/Switch/PS4/Xbox)</a></li>
        <li><a href="#">java / 統合版(Win10/PE<br />/Switch/PS4/Xbox)</a></li>
        </ul>
    </section>

    
    <section class="box recent-posts" id="nav">
        <header>
            <h2>有名トラップで探す</h2>
        </header>
        <ul>
        <li><a href="#">天空トラップタワー</a></li>
        <li><a href="#">ゴーレムトラップ</a></li>
        <li><a href="#">クリーパートラップ</a></li>
        </ul>
    </section>

    <!-- Copyright -->
        <ul id="copyright">
            <li>&copy; Minecraft Trap Library</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>

</div>